{% extends 'treebay/base.html' %}
{% load staticfiles %}

{% block scripting %}
		<script>
			var limits = {
				"Name": {{ plant.NAME_MAX_LENGTH }},
				"Location" : {{ plant.LOCATION_MAX_LENGTH }},
				"Description" : {{ plant.DESCRIPTION_MAX_LENGTH }}
			};
		</script>
		<script src="{% static 'js/plantform.js' %}" ></script>
{% endblock %}

{% block main_body %}
    <div id="addeditmain">
        <h2>{% if editing %}Edit{% else %}Add{% endif %} Plant</h2>
		<form method="post" enctype="multipart/form-data">
			<table id="addedittable" class="blanktable">
                {% for field in form %}
				<tr {% if field.label in monitors %}class="monitor"{% endif %}>
					<td>
						{% if field.label == 'Name' %}
							Title:
						{% elif field.label == 'IsSold' %}
							Mark Sold:
						{% elif field.label == 'Price' %}
							Price (in £):
						{% else %}
							{{ field.label_tag }}
						{% endif %}

						{% if field.field.required %}
							<span class="required">*</span>
						{% endif %}
					</td>

					<td>
						<div>
							{% if field.label == 'Categories' %}
							<div id="tgsel">
								{{ field.as_widget }}
							</div>
							<div id="tagged" class="tagholder"></div>
							<select id="tagselect">
							</select>
							<button type="button" formtarget="_blank" id="tagadd">Add</button>
							{% else %}
								{{ field.as_widget }}
							{% endif %}
						</div>

						<div class="valid" id="{{ field.label }}">
							<p>Validation text</p>
							<p></p>
						</div>
					</td>
				</tr>
                {% endfor %}
				<tr>
					<td colspan=2 >
						{% csrf_token %}
						<div class="flright">
							<input type="submit" name="submit" value="Discard"/>
							<input id="subbttn" type="submit" name="submit" value="Save"/>
						</div>
					</td>
				</tr>
			</table>
        </form>
		
		
        <div class="centered">
            Tips:
            <ul>
                <li>Keep the title simple</li>
                <li>Don't be specific with your location</li>
                <li>Use the description to add specific details about the plant</li>
                <li>Add at least one tag to help people find your ad</li>
                <li>Remember to mark your plant as sold once it is rehomed</li>
            </ul>
        </div>


    </div>
{% endblock %}