<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>
			TreeBay
			{% block title_block %}
			{% endblock %}
		</title>
		<script type = "text/javascript" src = "{% static 'js/jquery-3.4.1.js' %}"></script>
		<link rel="icon" href="{% static 'img/www/fav.ico' %}" type="image/x-icon"/>
		<link rel="shortcut icon" href="{% static 'img/www/fav.ico' %}" type="image/x-icon"/>		
		<link rel="stylesheet" type="text/css" href="{% static 'css/treebay.css' %}">
		{% block scripting %}
		{% endblock %}
	</head>
	<body>
		<div class="header">
			<span id="headerleft">
				<p>
					{% block nav_home %}
                    <a href="{% url 'treebay:index' %}">Home</a> //
					{% endblock %}
					{% block nav_about %}
					<a href="{% url 'treebay:about' %}">About</a> //
					{% endblock %}
					{% block nav_dash %}
                     <a href="{% url 'treebay:dashboard' %}">MyTreeBay</a>
					{% endblock %}
				</p>
			</span>
			<span id="headercentre" >
				<h1>
					TreeBay
				</h1>
			</span>
			<span id="headerright">
				<p>
					{% if user.is_authenticated %}
					Hi, {{user.username}}!<br /><a href="{% url 'treebay:logout' %}">LOGOUT</a>
					{% else %}
					<a href="{% url 'treebay:login' %}">LOGIN&nbsp;&amp;&nbsp;REGISTER</a>
					{% endif %}
				</p>
			</span>
		</div>
		
		{% block no-main %}
		<div id="main" >
			{% block main_body %}
			{% endblock %}
			<div id="footer">
				<hr />
				<p>Powered by Django</p>
			</div>
		</div>
		{% endblock %}
	
	</body>
</html>