<!DOCTYPE html>

<html>

    <head>
        <title>Treebay</title>
    </head>

    <body>
    <div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        <h3>{{ category.description }}</h3>
        {% if plants %}
            <ul>
                {% for plant in plants %}
                    <li>{{ plant.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No plants currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
    </div>
    </body>

</html>