{% extends 'treebay/base.html' %}
{% load staticfiles %}

{% block scripting %}
	<script>
		var showchunksize = {{ dchunk }};
	</script>
    <script src="{% static 'js/buttonmenu.js' %}"></script>
    <script src="{% static 'js/expandingadtable.js' %}"></script>
    <script src="{% static 'js/largebutton.js' %}"></script>
{% endblock %}

{% block title_block %}
         - Dashboard
{% endblock %}

{% block nav_dash %}
	<a class="active" href="{% url 'treebay:dashboard' %}">MyTreeBay</a>
{% endblock %}

{% block main_body %}
    <div id="sellerinfo">
        <img src="{{ user.profile.picture.url }}" />
        <h2>{{ user.username }}</h2>
        <p>Member since<br/>{{ user.date_joined.date }}</p>
        <div class="dropdown">
          <button onclick="toggle()" class="dropbtn">&#9998; Edit</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'treebay:edit_profile' %}">Edit profile details</a>
            <a href="{% url 'treebay:change_password' %}">Change password</a>
            <a href="{% url 'treebay:delete_profile' %}">Delete profile</a>
          </div>
        </div>
    </div>

    <h4 class="ditemhead">Adverts</h4>

    <div id="dashadframe" class="dashelmnt">
        <table class="expandingadtable">
            <thead>
                <tr>
                    <th colspan=2>My Adverts</th>
                </tr>
            </thead>
            <tbody>
                {% for plnt in plants %}
                <tr>
                    <td><a href="{% url 'treebay:show_plant' plnt.slug plnt.id %}">{{plnt.name}}</a></td>
                    <td>
					{% if plnt.stars >= hot %}<span class="labelhot">&#128901;</span>
					{% elif plnt.isSold %}<span class="labelsold">&#9651;</span>
					{% else %}<span class="labelactive">&#9634;</span>
					{% endif %}
					</td>
                </tr>
				{% empty %}
				<tr class="visible">
					<td colspan=2><center>- None -</center></td>
				</tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=2><a href=":)" class="tableexpand">See more...</a></td>
                </tr>
            </tfoot>
        </table>

        <table class="expandingadtable">
            <thead>
                <tr>
                    <th colspan=2>Starred</th>
                </tr>
            </thead>
            <tbody>
                {% for plnt in starred %}
                <tr>
                    <td><a href="{% url 'treebay:show_plant' plnt.slug plnt.id %}">{{plnt.name}}</a></td>
					<td>
					{% if plnt.stars >= hot %}<span class="labelhot">&#128901;</span>
					{% elif plnt.isSold %}<span class="labelsold">&#9651;</span>
					{% endif %}
					</td>
                </tr>
				{% empty %}
				<tr class="visible">
					<td colspan=2><center>- None -</center></td>
				</tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=2><a href=":)" class="tableexpand">See more...</a></td>
                </tr>
            </tfoot>
        </table>
		
		{# Doesn't do anything, but doesn't work without... and we dont know why #}
		<br />

        <div id="dashadrightpannel">

            <table>
                <thead>
                    <tr>
                        <th colspan=2>
                            Legend
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="labelhot">&#128901;</span></td>
                        <td> - Hot</td>
                    </tr>
                    <tr>
                        <td><span class="labelactive">&#9634;</span></td>
                        <td> - Active</td>
                    </tr>
                    <tr>
                        <td><span class="labelsold">&#9651;</span></td>
                        <td> - Sold</td>
                    </tr>
                </tbody>
            </table>

            <div class="largebutton">
                <a href="{% url 'treebay:add_plant' %}">New Advert</a>
            </div>
        </div>
    </div>
{% endblock %}