<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div>
<h1>You are:  {{ user.username }}</h1>
</div>
<br />
<div>
<h3>Plants that have caught my eye:</h3>
    {% for p in starred %}
        <h5>{{ p.name }}</h5>
        <h5>{{ p.description }}</h5>
        <h5>{{ p.location }}</h5>
        <hr />
    {% endfor %}
</div>
<br />
<div>
<h3>My plant ads</h3>
    {% for p in plants %}
        <h5>{{ p.name }}</h5>
        <h5>{{ p.description }}</h5>
        <h5>{{ p.location }}</h5>
    {% endfor %}
</div>

</body>
</html>