{% extends 'treebay/base.html' %}
{% load staticfiles %}

{% block scripting %}
		<script src="{% static 'js/galleries.js' %}"></script>
{% endblock %}


{% block nav_home %}
    <a class="active" href="{% url 'treebay:index' %}">Home</a>
{% endblock %}


{% block main_body %}
			<span id="mainbanner">
				<img src="{% static 'img/svg/treebay_logo_short.svg' %}" />
				<h1>Find a new home for your plants today!</h1>
			</span>
				<div class="relcontainer">
				{# The comment gaps are specific and necessary for inlineblock adjacency #}
				<h3>Latest</h3>
				<div class="slidecontainer" ><!--
					{% for plnt in plant_date %}
					--><div onclick="window.location.href = '{% url 'treebay:show_plant' plnt.slug plnt.id %}';">
						<img src="{{plnt.picture.url}}"/>
						<p>{{plnt.name}}<br />{{plnt.location}}</p>
					</div><!--
					{% endfor %}
					-->
					<span class="pan panLeft">
						<img src="{% static 'img/svg/chevron_left-24px.svg' %}" />
					</span>
					<span class="pan panRight">
						<img class="right" src="{% static 'img/svg/chevron_right-24px.svg' %}" />
					</span>
				</div>

				<h3>Most starred</h3>
				<div class="slidecontainer" ><!--
					{% for plnt in plant_interest %}
					--><div onclick="window.location.href = '{% url 'treebay:show_plant' plnt.slug plnt.id %}';">
						<img src="{{plnt.picture.url}}"/>
						<p>{{plnt.name}}<br />{{plnt.location}}</p>
					</div><!--
					{% endfor %}
					-->
					<span class="pan panLeft">
						<img src="{% static 'img/svg/chevron_left-24px.svg' %}" />
					</span>
					<span class="pan panRight">
						<img class="right" src="{% static 'img/svg/chevron_right-24px.svg' %}" />
					</span>
				</div>
				
				
				<h3>Most viewed</h3>
				<div class="slidecontainer" ><!--
					{% for plnt in plant_views %}
					--><div onclick="window.location.href = '{% url 'treebay:show_plant' plnt.slug plnt.id %}';">
						<img src="{{plnt.picture.url}}"/>
						<p>{{plnt.name}}<br />{{plnt.location}}</p>
					</div><!--
					{% endfor %}
					-->
					<span class="pan panLeft">
						<img src="{% static 'img/svg/chevron_left-24px.svg' %}" />
					</span>
					<span class="pan panRight">
						<img class="right" src="{% static 'img/svg/chevron_right-24px.svg' %}" />
					</span>
				</div>

				<div id="sidebar" class="tagholder">
				{% for cat in categories %}
					<span onclick="window.location.href = '{% url 'treebay:show_category' cat.slug %}';">#{{cat.name}}</span>
				{% endfor %}
				</div>
			</div>
    <p id="pageviews"><strong>Page views: </strong>{{ visits }}</p>
{% endblock %}