{% extends 'treebay/base.html' %}
{% load staticfiles %}

{% block scripting %}
		<script src="{% static 'js/scrollback.js' %}"></script>
		<script src="{% static 'js/listicsort.js' %}"></script>
{% endblock %}

{% block main_body %}
			<div id="innerwrapper">
			{% block listhead %}
			{% endblock %}
			
				<hr />
				<div id="sortheader">
					<span>Sort by:
					<select id="sortby" >
						<option value="viewed"{% if order_by == "viewed" %} selected="selected"{% endif %}>Most Viewed</option>
						<option value="starred"{% if order_by == "starred" %} selected="selected"{% endif %}>Most Starred</option>
						<option value="latest"{% if order_by == "latest" %}selected="selected"{% endif %}>Latest Added</option>
						<option value="price_asc"{% if order_by == "price_asc" %}selected="selected"{% endif %}>Price (Lowest First)</option>
						<option value="price_desc"{% if order_by == "price_desc" %}selected="selected"{% endif %}>Price (Highest First)</option>
					</select>
					</span>
					<span>
						Showing {{ chunkbeg }} - {{ chunkend }} of {{ totalcount }}
					</span>
				</div>
				<hr />
				
				{% for plnt in plants %}
				<div class="adcontainer" onclick="window.location.href = '{% url 'treebay:show_plant' plnt.slug plnt.id %}';">
					<img src="{{plnt.picture.url}}" />
					<span class="detail1">
						<p class="title">
                            {{plnt.name}}
						</p>
						<p class="loc">{{plnt.location}}</p>
						<p class="interest">{{ plnt.stars }}&nbsp;&#9734;</p>
					</span>
					<span class="detail2">
                        {% if plnt.stars > hot %}
						<span class="labelhot">&#128901;</span>
                        {% endif %}
					</span>
					<span class="detail3">
						<p class="price">£{{plnt.price}}</p>
						<p class="owner">
                            Posted:
                            {{ plnt.uploadDate.date }}
							{% block showowner %}
                            by
								{% if plnt.owner.user_id == user.id %}
                            <a href="{% url 'treebay:dashboard' %}">{{ plnt.owner }}</a>
								{% else %}
                            <a href="{% url 'treebay:show_user' plnt.owner.user.username %}">{{ plnt.owner }}</a>
								{% endif %}
							{% endblock %}
						</p>
					</span>
				</div>
				{% empty %}
				<center><strong>No plants listed</strong></center>
				{% endfor %}
				<hr />
				
				<div id="catpagenav">
					{% if pageprev %}
					<a href="?orderBy={{order_by}}&from={{pageppos}}">&lt;&nbsp;Prev</a>
					{% endif %}
					<div>
						<p>{{ chunkbeg }} - {{ chunkend }} of {{ totalcount }} ~ <a class="scrollback" href=":)">Back to Top</a></p>
					</div>
					{% if pagenext %}
					<a class="right" href="?orderBy={{order_by}}&from={{pagenpos}}">Next&nbsp;&gt;</a>
					{% endif %}
				</div>
				<hr />
			</div>
{% endblock %}