{% extends 'treebay/base.html' %}
{% load staticfiles %}

{% block no-main %}
        <div id="loginframe">
			<div class="halfloginframe">
                <h1>Don't have an account? Register here!</h1><br /><br />
                <form id="user_form" method="post" action="{% url 'treebay:login' %}" enctype="multipart/form-data">

                    {% csrf_token %}
                    {% for field in form %}
                        <label class="tooltip" for="{{ field.auto_id }}">{{ field.label_tag }}
                        {% if field.field.required %}
                            <span class="required">*</span>
                        {% endif %}
                        {{ field.as_widget }}
                        {% if field.help_text %}
                            <span class="tooltiptext">{{ field.help_text }}</span>
                        {% endif %}
                        </label><br /><br />
                    {% endfor %}
                    <br /><br />
                    <div class="registerbutton"><input type="submit" name="submit" value="Register" /></div>
                </form>
            </div>
			<div id="loginmiddiv"></div>
			<div class="halfloginframe" id="signinhalf">
                <h1>Already a member? <br />Log in!</h1><br /><br />
                <form id="login_form" method="post" action="{% url 'treebay:login' %}">
                    {% csrf_token %}
                    Username: <span class="required">*</span> <input type="text" name="username" value=""/>
                    <br /><br />
                    Password: <span class="required">*</span> <input type="password" name="password"/>
                    <br /><br /><br />
                    <div class="loginbutton"><input type="submit" name="submit" value="Log In" /></div>
                </form>
            </div>
		</div>
{% endblock %}