<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
    </head>
    <body>

    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

        <h1>Login to Treebay</h1>
        <form id="login_form" method="post" action="{% url 'treebay:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value=""/>
            <br />
            Password: <input type="password" name="password"/>
            <br />
            <input type="submit" name="submit" value="Log In" />
        </form>

        <h1>Register for Treebay</h1>
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'treebay:login' %}" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
    </body>
</html>