{% extends 'treebay/base.html' %}
{% load staticfiles %}

{% if plant %}
	{% block title_block %}
		 - {{ plant.name }}
	{% endblock %}
{% endif %}

		
{% block main_body %}
			<div id="plantmain">
				<p class="mininav">
					<a href="{% url 'index' %}">Home</a> &gt; 
					<strong>{{plant.name}}</strong>
				</p>
				
				<div>
					<div class="leftsect">
						<img src="{{ plant.picture.url }}" />
						<div class="largebutton">
							<a href="mailto://{{ plant.owner.user.email }}">Contact Seller</a>
						</div>
						<div id="plantseller">
							<img src="{{ plant.owner.picture.url }}">
							<p>{{ plant.owner.user.username }}</p>
							<p>Member Since {{ plant.owner.date_joined }}</p>
							<a href="TODO">View Profile</a>
						</div>
					</div>
					<p id="plstar">&#9734;</p>
					<h2>{{ plant.name }}</h2>
					<p id="plloc">{{ plant.location }}</p>
					<p id="plprice">£{{ plant.price }}</p>
					<p id="plstrap">(See TODO) Plant in need of care</p>
					<p id="pldesc">{{ plant.description }}</p>
					<div id="pltags" class="tagholder">
						{% for tag in cats %}
						<span>#{{ tag.name }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
{% endblock %}